# Sensitive Environment Variables
.env
.env.local
.env.*.local

# Docker local data/volumes
# (Adjust the path if your volumes are stored elsewhere)
**/data/
**/db_data/

# Logs
logs
*.log
docker-compose.override.yml
